<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>后台管理中心</title>  
<link rel="stylesheet" type="text/css" href="<php>echo Admin_CSS</php>pintuer.css" />
<link rel="stylesheet" type="text/css" href="<php>echo Admin_CSS</php>admin.css" />
<!--【Jquery】-->
<script src="<php>echo Jquery</php>"></script>
<!--【Jquery结束】-->

<!--【bootstrap开始】-->
<link rel="stylesheet" type="text/css" href="<php>echo Bootstrap_Min_CSS</php>" />
<script src="<php>echo BootstrapJs</php>"></script>
<!--【bootstrap结束】-->

<!--【angular开始】-->
<script src="<php>echo An</php>"></script>
<script src="<php>echo Anr</php>"></script>
<!--【angular结束】-->

<!--【layer开始】-->
<link rel="stylesheet" type="text/css" href="<php>echo LayerCss</php>" />
<script src="<php>echo LayerJs</php>"></script>
<!--【layer结束】-->
</head>
<body style="background-color:#f2f9fd;">

<include file="top" />
<include file="menu" />
<include file="main" />


</body>
</html>