<block name="top">
<div class="header bg-main">
  <div class="logo margin-big-left fadein-top">
    <h1><img src="<php>echo Admin_IMG</php>y.jpg" class="radius-circle rotate-hover" height="50" alt="" />后台管理中心</h1>
  </div>
  <div class="head-l"><a class="button button-little bg-green" href="" target="_blank"><span class="icon-home"></span> 前台首页</a> &nbsp;&nbsp;<a href="##" class="button button-little bg-blue"><span class="icon-wrench"></span> 清除缓存</a> &nbsp;&nbsp;<button class="button button-little bg-red" id="zhuxiao"><span class="icon-power-off"></span> 退出登录</button> </div>
</div>
<script>
$(document).ready(function(){
	$("#zhuxiao").click(function(){ 	
		layer.confirm('你确定要退出吗？', {
		  btn: ['确定','取消'] //按钮
		}, function(msg){
		  $.get("__MODULE__/Login/loginout", function(msg){
					 window.location.href = msg.url;
				});
		 
		}, function(){
		  layer.msg('继续操作吧');
		});
	});
});
</script>
</block>