@charset "utf-8";
/* CSS Document */
.show {
    display: block;
}

.hide {
    display: none;
}

.main_cate_hb {
    width: 220px;
    height: 400px;
    background: rgba(0,0,0,.5);
    position: absolute;
    left: 10px;
    z-index: 1999;
}

    .main_cate_hb ul li {
        clear: both;
        zoom: 1;
        cursor: default;
        padding-bottom: 10px;
    }

        .main_cate_hb ul li .tx {
            line-height: 40px;
            height: 40px;
            background-color: rgba(252,211,211,.5);
            padding-left: 10px;
            background-repeat: no-repeat;
            background-position: right center;
        }

            .main_cate_hb ul li .tx a {
                font-size: 14px;
                color: #ffffff;
                -webkit-transition: color 0.1s ease-out 0s;
                -moz-transition: color 0.1s ease-out 0s;
                -ms-transition: color 0.1s ease-out 0s;
                -o-transition: color 0.1s ease-out 0s;
                transition: color 0.1s ease-out 0s;
            }

                .main_cate_hb ul li .tx a i {
                    height: 25px;
                    width: 25px;
                    background-position: 0px 0px;
                    float: left;
                    margin-left: 10px;
                    line-height: 25px;
                    margin-top: 9px;
                    text-decoration: none;
                }

        /*.main_cate_hb ul li.a1 .tx a i {
            background-image: url(../Images/header_ico1.png);
        }

        .main_cate_hb ul li.a2 .tx a i {
            background-image: url(../Images/header_ico2.png);
        }

        .main_cate_hb ul li.a3 .tx a i {
            background-image: url(../Images/header_ico3.png);
        }*/

        .main_cate_hb ul li dl {
            clear: both;
            color: #ffffff;
            overflow: auto;
            zoom: 1;
            padding-top: 10px;
            padding-bottom: 8px;
        }

            .main_cate_hb ul li dl a {
                color: #fff;
                line-height: 22px;
                float: left;
                margin-right: 6px;
                margin-left: 6px;
                white-space: nowrap;
                padding: 5px 0;
                -webkit-transition: color 0.1s ease-out 0s;
                -moz-transition: color 0.1s ease-out 0s;
                -ms-transition: color 0.1s ease-out 0s;
                -o-transition: color 0.1s ease-out 0s;
                transition: color 0.1s ease-out 0s;
            }

        .main_cate_hb ul li dt {
            width: 30px;
            padding-left: 10px;
            float: left;
            padding-top: 7px;
        }

        .main_cate_hb ul li dd {
            float: left;
            width: 160px;
            line-height: 22px;
            padding-bottom: 2px;
        }

    .main_cate_hb:hover ul {
        display: block;
    }

    .main_cate_hb ul li:hover {
        /*background-color: #fae1e1;
        opacity:.9;*/
        cursor: default;
    }

        .main_cate_hb ul li:hover .tx {
            /*background-color: #fcc9c9;*/
        }

            .main_cate_hb ul li:hover .tx a {
                /*color: #333333;*/
            }

                .main_cate_hb ul li:hover .tx a i {
                    background-position: 0px -25px;
                }

        .main_cate_hb ul li:hover dl {
            /*color: #6e6e6e;*/
        }

        .main_cate_hb ul li:hover a {
            /*color: #666666;*/
        }

            .main_cate_hb ul li:hover a:hover {
                color: #ff666b;
            }




    /***pop****/

    .main_cate_hb ul li .pop {
        display: none;
        background-color: #fcfcfc;
        width: 640px;
        min-height: 440px;
        position: absolute;
        left: 200px;
        top: 0px;
        -webkit-box-shadow: 4px 4px 5px -1px #cacaca;
        -moz-box-shadow: 4px 4px 5px -1px #cacaca;
        box-shadow: 4px 4px 5px -1px #cacaca;
        padding-top: 10px;
        padding-right: 30px;
        padding-bottom: 10px;
        padding-left: 30px;
        border: solid 2px #599900\9;
        border-left: none\9;
        border-top: none\9;
        height: 464px\9;
        opacity: 1;
    }

        .main_cate_hb ul li .pop dl {
            padding-top: 0px;
            padding-bottom: 3px;
            color: #666666;
        }

            .main_cate_hb ul li .pop dl:hover {
                background-color: #f3f3f3;
            }

            .main_cate_hb ul li .pop dl a {
                color: #666666;
                margin-right: 12px;
                margin-left: 12px;
            }

                .main_cate_hb ul li .pop dl a.un {
                    color: #a5a5a5;
                }

        .main_cate_hb ul li .pop dt {
            width: 72px;
            padding-left: 10px;
            padding-top: 2px;
        }

            .main_cate_hb ul li .pop dt.pt {
                padding-top: 7px;
            }

        .main_cate_hb ul li .pop dd {
            width: 565px;
            margin-left: -12px;
            padding-top: 0px;
            height: 26px;
            line-height: 26px;
            overflow: hidden;
        }

        .main_cate_hb ul li .pop .act {
            /*position:absolute;
	bottom:15px;*/
            height: 80px;
            padding-top: 10px;
            width: 640px;
            overflow: hidden;
        }

    .main_cate_hb ul li:hover .pop {
        display: block;
        left: 200px;
        top: 0px;
    }

        .main_cate_hb ul li:hover .pop dl a.un {
            color: #a5a5a5;
            text-decoration: none;
        }

/***pop***/
